@using DotNetNuke.Common;
@using System;
@using DotNetNuke.Entities.Modules;
@using System.Data.SqlClient;
@using System.Diagnostics;
@using System.Data;
@using System.Data.Common;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Net.Mail;
@using System.Net;

@*Copyright (c) 2017 by Anubis *@

<style>
input[type=text]
{
 height: auto!important;
 width: auto!important;
}
</style>

<body>
<form method="POST" action="" id="questions">

@{
  string question_1 = "";
  string question_2 = "";
  string question_3 = "";
  string question_4 = "";
  string question_5 = "";
  string question_6 = "";
  string question_7 = "";
  string question_8 = "";
  string question_9 = "";
  string question_10 = "";
  string question_11 = "";
  string question_12 = "";
  string question_13 = "";
  string question_14 = "";
  string question_15 = "";
  string question_16 = "";

  int green = 0;
  int purple = 0;
  int orange = 0;
  var ColorMax = 0;
  string color = "";
  string body = "";
  string subject = "";
  string contact = "";

  var displayName = DotNetNuke.Entities.Users.UserController.GetCurrentUserInfo().DisplayName.ToString();
  var userEmail = DotNetNuke.Entities.Users.UserController.GetCurrentUserInfo().Email.ToString();

  var ConnectionString = DotNetNuke.Common.Utilities.Config.GetConnectionString();

  var database = new SqlConnection(ConnectionString);
  var selectQueryString = "SELECT * FROM Cat_Questions ORDER BY Cat_Questions_ID";

  SqlCommand command = new SqlCommand(selectQueryString, database);
  database.Open();
  var databaseName = database.Database;
  SqlDataReader reader = command.ExecuteReader();


  try
  {
    while (reader.Read())
    {
    if (reader[3] != DBNull.Value){
            <h3>@reader[1] <span style="color: red">*</span></h3>
          }else{<h3>@reader[1]</h3>}


      if (DBNull.Value != reader[5]){
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#@reader[0]">More Information</button><br></br>

        <div id="@reader[0]" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@reader[4]</h4>
              </div>
              <div class="modal-body">
                <p>@reader[5]</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

      }

       if (DBNull.Value != reader[6])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[6]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[6]</label><br></br>
        }
        if (DBNull.Value != reader[7])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[7]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[7]</label><br></br>
        }
        if (DBNull.Value != reader[8])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[8]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[8]</label><br></br>
        }
        if (DBNull.Value != reader[9])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[9]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[9]</label><br></br>
        }
        if (DBNull.Value != reader[10])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[10]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[10]</label><br></br>
        }
        if (DBNull.Value != reader[11])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[11]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[11]</label><br></br>
        }
        if (DBNull.Value != reader[12])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[12]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[12]</label><br></br>
        }
        if (DBNull.Value != reader[13])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[13]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[13]</label><br></br>
        }
    }
  }
    finally
    {
      // Always call Close when done reading.
      reader.Close();
      <h3>Would you like to send your readiness information to the local Shelters?</h3>
      <label style="font-size:medium"><input style="height:20px;width:20px" type="checkbox" name="contact" value="Yes" > Yes</label><br></br>
      <input type="submit" class="btn btn-success btn-lg" name="submit" value="Submit" />
      <input type="reset" class="btn btn-danger btn-lg" name="reset" value="Restart" />

    }
    if (IsPost)
    {
      try
      {
        //gets values from form
        question_1 = Request.Form["question_1"];

        question_2 = Request.Form["question_2"];

        question_3 = Request.Form["question_3"];

        question_4 = Request.Form["question_4"];

        question_5 = Request.Form["question_5"];

        question_6 = Request.Form["question_6"];

        question_7 = Request.Form["question_7"];

        question_8 = Request.Form["question_8"];

        question_9 = Request.Form["question_9"];

        question_10 = Request.Form["question_10"];

        question_11 = Request.Form["question_11"];

        question_12 = Request.Form["question_12"];

        question_13 = Request.Form["question_13"];

        question_14 = Request.Form["question_14"];

        question_15 = Request.Form["question_15"];

        question_16 = Request.Form["question_16"];

        //Performs Matching

        if(question_1.Equals("A library"))
        {
          purple += 1;
        }

        if(question_1.Equals("Middle of the road"))
        {
          orange += 1;
        }

        if(question_1.Equals("A carnival"))
        {
          green += 1;
        }

        if(question_2.Equals("No"))
        {
          purple += 1;
        }

        if(question_2.Equals("Somewhat"))
        {
          orange += 1;
        }

        if(question_2.Equals("Yes"))
        {
          green += 1;
        }
        if(question_3.Equals("Little of the time"))
        {
          purple += 1;
        }

        if(question_3.Equals("Some of the time"))
        {
          orange += 1;
        }

        if(question_3.Equals("All of the time"))
        {
          green += 1;
        }

        if(question_4.Equals("Love them but rather not to live with them"))
        {
          purple += 1;
        }

        if(question_4.Equals("Depends on the situation"))
        {
          orange += 1;
        }

        if(question_4.Equals("Fine by me"))
        {
          green += 1;
        }

        if(question_5.Equals("Not important"))
        {
          purple += 1;
        }

        if(question_5.Equals("Somewhat"))
        {
          orange += 1;
        }

        if(question_5.Equals("Yes"))
        {
          green += 1;
        }

        if(question_6.Equals("It's not important whether my cat loves being with children"))
        {
          purple += 1;
        }

        if(question_6.Equals("Some of the time"))
        {
          orange += 1;
        }

        if(question_6.Equals("Most of the time"))
        {
          green += 1;
        }

        if(question_7.Equals("More than 9 hours per day"))
        {
          purple += 1;
        }

        if(question_7.Equals("4 to 8 hours per day"))
        {
          orange += 1;
        }

        if(question_7.Equals("Less than 4 hours per day"))
        {
          green += 1;
        }

        if(question_8.Equals("Little of the time"))
        {
          purple += 1;
        }

        if(question_8.Equals("Some of the time"))
        {
          orange += 1;
        }

        if(question_8.Equals("All of the time"))
        {
          green += 1;
        }

        if(question_9.Equals("Little of the time"))
        {
          purple += 1;
        }

        if(question_9.Equals("Some of the time"))
        {
          orange += 1;
        }

        if(question_9.Equals("Most of the time"))
        {
          green += 1;
        }

        if(question_11.Equals("Inside"))
        {
          purple += 1;
        }

        if(question_11.Equals("Inside and Outside"))
        {
          orange += 1;
        }

        if(question_11.Equals("Outside"))
        {
          green += 1;
        }

        if(question_12.Equals("No"))
        {
          purple += 1;
        }

        if(question_12.Equals("Yes"))
        {
          green += 1;
        }

        if(question_13.Equals("No"))
        {
          purple += 1;
        }

        if(question_13.Equals("Yes"))
        {
          green += 1;
        }

        if(question_14.Equals("Little of the time"))
        {
          purple += 1;
        }

        if(question_14.Equals("Some of the time"))
        {
          orange += 1;
        }

        if(question_14.Equals("Often"))
        {
          green += 1;
        }

        if(question_15.Equals("Not very active at all"))
        {
          purple += 1;
        }

        if(question_15.Equals("Somewhat"))
        {
          orange += 1;
        }

        if(question_15.Equals("Yes, very"))
        {
          green += 1;
        }

        contact = Request.Form["contact"];

        ColorMax = Math.Max(orange, Math.Max(purple, green));

        if(ColorMax == orange)
        {
          color = "Orange";
        }

        if(ColorMax == green)
        {
          color = "Green";
        }

        if(ColorMax == purple)
        {
          color = "Purple";
        }

        if(ColorMax == purple & ColorMax == green)
        {
          color = "both Purple and Green";
        }

        if(ColorMax == purple & ColorMax == orange)
        {
          color = "both Purple and Orange";
        }
        if(ColorMax == orange & ColorMax == green)
        {
          color = "both Orange and Green";
        }
        if(ColorMax == purple & ColorMax == green & ColorMax == orange)
        {
          color = "all three Purple, Orange, and Green";
        }

        //Database Connection
        SqlDataReader reader2;
        var insertQueryString = "INSERT INTO CatResponses (User_ID,Cat_orange,Cat_purple,Cat_green,Cat_Color) VALUES (@1,@2,@3,@4,@5)";
        SqlCommand comm = new SqlCommand();
        comm.Connection = database;
        comm.CommandType = CommandType.Text;
        comm.CommandText = insertQueryString;
        comm.Parameters.AddWithValue("@1", DotNetNuke.Entities.Users.UserController.GetCurrentUserInfo().UserID.ToString());
        comm.Parameters.AddWithValue("@2", orange);
        comm.Parameters.AddWithValue("@3", purple);
        comm.Parameters.AddWithValue("@4", green);
        comm.Parameters.AddWithValue("@5", color);

        reader2 = comm.ExecuteReader();

        reader2.Close();

        //Send Email Code Here

        SqlCommand Sheltercmd = new SqlCommand();

        SqlDataReader Shelterreader;

        Sheltercmd.CommandText = "Select partnered_Shelter_Email FROM partnered_Shelter";

        Sheltercmd.CommandType = CommandType.Text;

        Sheltercmd.Connection = database;

        Shelterreader = Sheltercmd.ExecuteReader();

        string stringTo = "";

        subject = "PetReady feline-ality Report for " + displayName;
        body = "PetReady feline-ality Report for " + displayName + "\n" +
        "\nReply To: " + userEmail + "\n" +
        "\nThey match to: " + color + " cats\n" +
        "\nWhat would you consider your household" + question_1 + "\n" +
        "\nAre you comfortable with a cat that likes to play “chase my ankles”and similar games: " + question_2 + "\n" +
        "\nDo you want your cat to interact with guests that come into your house: " + question_3 + "\n" +
        "\nHow do you feel about a boisterous cat that gets into everything: " + question_4 + "\n" +
        "\nMy cat needs to be able to adjust to new situations quickly: " + question_5 + "\n" +
        "\nI want my cat to love being with children in my home: " + question_6 + "\n" +
        "\nWill your cat need to be able to be alone: " + question_7 + "\n" +
        "\nWhen you are at home, do you want your cat to be by your side or in your lap: " + question_8 + "\n" +
        "\nDo you want your cat to enjoy being held: " + question_9 + "\n" +
        "\nYou will need your cat to get along with(click all that apply): " + question_10 + "\n" +
        "\nYour cat will be: " + question_11 + "\n" +
        "\nHave you lived with cats before: " + question_12 + "\n" +
        "\nYDo you prefer your cat to be talkative: " + question_13 + "\n" +
        "\nYou want your cat to play with toys: " + question_14 + "\n" +
        "\nYou want your cat to be active: " + question_15 + "\n" +
        "\nIt is most important to me that my cat: " + question_16;

        try
        {
          while(Shelterreader.Read())
          {
          stringTo += Shelterreader[0] + " ,";
          }
          stringTo = stringTo.TrimEnd(stringTo[stringTo.Length -1]);
        }
        catch
        {

        }
        finally
        {
          Shelterreader.Close();
          database.Close();
          if(contact.Equals("Yes"))
          {
            DotNetNuke.Services.Mail.Mail.SendEmail("petready.webmaster@gmail.com", stringTo, subject, body);
          }

        }

      }
      catch
      {


      }
      finally
      {
         Response.Redirect("http://petready.org.nau.edu/Find-A-Pet");
      }
    }
}



</form>
</body>

<script>
$('form').on('reset', function() {
  console.log("dumb");
  return confirm("Are you sure you want to reset all questions");
});
</script>
