@using DotNetNuke.Common;
@using System;
@using DotNetNuke.Entities.Modules;
@using System.Data.SqlClient;
@using System.Diagnostics;
@using System.Data;
@using System.Data.Common;

@*Copyright (c) 2017 by Anubis *@

<body>
<form method="POST" action="" id="questions">

@{
  string question_1 = "";
  string question_2 = "";
  string question_3 = "";
  string question_4 = "";
  string question_5 = "";
  string question_6 = "";
  string question_7 = "";
  string question_8 = "";
  string question_9 = "";
  string question_10 = "";
  string question_11 = "";
  string question_12 = "";
  string question_13 = "";
  string question_14 = "";
  string question_15 = "";
  string question_16 = "";
  string question_17 = "";
  int green = 0;
  int purple = 0;
  int orange = 0;

  var database = new SqlConnection("Data Source=gpsql.nau.froot.nau.edu,61707;Initial Catalog=petready;Integrated Security=True;");
  var selectQueryString = "SELECT * FROM Cat_Questions ORDER BY Cat_Questions_ID";

  SqlCommand command = new SqlCommand(selectQueryString, database);
  database.Open();
  var databaseName = database.Database;
  SqlDataReader reader = command.ExecuteReader();


  try
  {
    while (reader.Read())
    {
    if (reader[3] != DBNull.Value){
            <h3>@reader[1] <span style="color: red">*</span></h3>
          }else{<h3>@reader[1]</h3>}


      if (DBNull.Value != reader[5]){
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#@reader[0]">More Information</button><br></br>

        <div id="@reader[0]" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@reader[4]</h4>
              </div>
              <div class="modal-body">
                <p>@reader[5]</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

      }

       if (DBNull.Value != reader[6])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[6]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[6]</label><br></br>
        }
        if (DBNull.Value != reader[7])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[7]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[7]</label><br></br>
        }
        if (DBNull.Value != reader[8])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[8]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[8]</label><br></br>
        }
        if (DBNull.Value != reader[9])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[9]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[9]</label><br></br>
        }
        if (DBNull.Value != reader[10])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[10]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[10]</label><br></br>
        }
        if (DBNull.Value != reader[11])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[11]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[11]</label><br></br>
        }
        if (DBNull.Value != reader[12])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[12]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[12]</label><br></br>
        }
        if (DBNull.Value != reader[13])
        {
          <label style="font-size:medium"><input style="height:20px;width:20px" type="@reader[2]" name="question_@reader[0]" value="@reader[13]" data-toggle="modal" data-target="#@reader[0]" @reader[3]> @reader[13]</label><br></br>
        }
    }
  }
    finally
    {
      // Always call Close when done reading.
      reader.Close();
      <input type="submit" class="btn btn-success btn-lg" name="submit" value="Submit" />
      <input type="reset" class="btn btn-danger btn-lg" name="reset" value="Restart" />

    }
    if (IsPost)
    {
      try
      {
        //gets values from form
        question_1 = Request.Form["question_1"];

        question_2 = Request.Form["question_2"];

        question_3 = Request.Form["question_3"];

        question_4 = Request.Form["question_4"];

        question_5 = Request.Form["question_5"];

        question_6 = Request.Form["question_6"];

        question_7 = Request.Form["question_7"];

        question_8 = Request.Form["question_8"];

        question_9 = Request.Form["question_9"];

        question_10 = Request.Form["question_10"];

        question_11 = Request.Form["question_11"];

        question_12 = Request.Form["question_12"];

        question_13 = Request.Form["question_13"];

        question_14 = Request.Form["question_14"];

        question_15 = Request.Form["question_15"];

        question_16 = Request.Form["question_16"];

        question_17 = Request.Form["question_17"];

        //Performs Matching
        SqlDataReader reader2;
        var insertQueryString = "INSERT INTO CatResponses (User_ID,Cat_orange,Cat_purple,Cat_green) VALUES (@1,@2,@3,@4)";
        SqlCommand comm = new SqlCommand();
        comm.Connection = database;
        comm.CommandType = CommandType.Text;
        comm.CommandText = insertQueryString;
        comm.Parameters.AddWithValue("@1", DotNetNuke.Entities.Users.UserController.GetCurrentUserInfo().UserID.ToString());
        comm.Parameters.AddWithValue("@2", orange);
        comm.Parameters.AddWithValue("@3", purple);
        comm.Parameters.AddWithValue("@4", green);

        reader2 = comm.ExecuteReader();

        database.Close();
        reader2.Close();

        //Send Email Code Here

        Response.Redirect("http://petready.org.nau.edu/Find-a-Pet");

      }
      catch
      {


      }
    }
}



</form>
</body>

<script>
$('form').on('reset', function() {
  console.log("dumb");
  return confirm("Are you sure you want to reset all questions");
});
</script>
